/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  text-decoration:none;
}
.navbar{
    box-shadow: 0px 6px -5px -6px #808080;
}

.navLogo{
    background-image:url("/images/app-logo-s.png");
    background-repeat:no-repeat;
    background-size:100%;
    width:50px;
    background-position:center;
    height:38px;
}

.sectionHeader {
    background-color: #212121;
    padding: 8px 24px 24px 25px;
}

.sectionHeading{
    color:white;
    width:100%;
    font-size:1.3em;
    font-family:'Roboto';
    padding: 16px 0px 16px 0;
    border-bottom:1px solid #0366d6;
    margin-bottom:12px;
}

.postHeading{
    color: white;
    font-size:1.1em;
    font-family:'Roboto';
    width:100%;
    padding:16px 0 16px 0;
}

.secionInfo{
    height: 400px;
    background-color:white;

}

.frontPageSplash {
    background-image: url(../images/theme/front-splash.png);
    background-repeat: no-repeat;
    background-position: right;


}

.frontPageLearn{
    font-family:'Roboto';
    padding: 12px 0 0 32px;
    height:400px;
    
}

.sectionDescription{
    color:#EEE;
    width:70%;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
    color: #C18C5D;
}

.frontPageSubHeading {
    font-size: 1.3em;
    color: #E3D26F;
}
.frontPageTopContainer{
    padding:40px 80px 42px 40px;
    border:1px solid #999;
    background-color:#2569D5;
    font-family:'Roboto';
}

.homeSearch{
    width:100%;
    margin-top:8px;
    background-color:rgba(0,0,0,0.1);
    padding:8px;
    border:0px;
    height:1.7em;
    font-size:2.1em;
    font-family: 'Roboto Mono';
    font-weight:bold;
    transition:ease-in 0.2s;
}

.homeSearch:focus{
    border:none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03A9F4;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 5px 4px -6px #000;
}

.frontPageContent{
    background-color:rgba(255,255,255, 0.9);
    padding:15px;
}

#latestPosts{
    font-size:1em;
    font-weight:bold;
    color:#333;
    margin:4px 0 16px 0;
}


/*Post-------------------------------------------------- */
.postTitle{
    font-family:'Roboto';
    font-weight:bold;
}

.postSubtitle{
    color: #879;
    font-family:'Roboto Mono';
    font-size:0.7em;
}
 
.postData{
    display:inline-block;
}

.postDate{
    color: #879;
    font-family: 'Roboto Mono';
    font-size:0.7em;
}

.postLogo{
    display:inline-block;
    border-radius:3px;
    margin-right:20px;
    height:40px;
    width:40px;
    background-color:#ddd;
}

.postHeader{
    background-color:#212121;
    padding: 8px 0px 24px 24px;
}

/*Button stylings-------------------------------------------------- */

#headingBtn{
    float:right;
    margin-right:20px;
}

.btn-back{
    background-color: #555;
    color:#fff !important;
    transition:ease-in 0.1s;
    border-radius:0px !important;
}

.btn-back:hover{
    transition: ease-in 0.1s;
    background-color:#1EBBE5 !important;
}

.btn-newReply{
    background-color: #5C6BC0 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-newReply:hover{
    background-color:#9FABDA !important;
    transition: ease-in 0.1s;
}

.btn-file{
    color:white;
    width:100%;
    background-color:#4FC3F7;
    transition: ease 0.3s;
}


.btn-file:hover {
    
    background-color: #039BE5;
    transition: ease 0.3s;
}

.btn-newPost {
    background-color: #DB6C24 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
    
}

    .btn-newPost:hover {
        background-color: #BD6E42 !important;
        color: #fff !important;
        transition: ease-in 0.1s;
    }

.btn-submitPost {
    background-color: #DB6C24 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-submitPost:hover {
        background-color: #BD6E42 !important;
        color: #fff !important;
        transition: ease-in 0.1s;
    }

.btn-search {
    background-color: #7700BC !important;
    margin-bottom:5px;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-search:hover {
        background-color: #64009E !important;
        color: #fff !important;
        transition: ease-in 0.1s;
    }

.delete-button {
    background-color: #752626 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .delete-button:hover {
        background-color: #e16060 !important;
        color: #fff !important;
        transition: ease-in 0.1s;
        border-radius: 0px !important;
    }



.searchBar{
    background-color:#333;
    width:25%;
    transition: ease .3s;
    border:none;
}

    .searchBar:focus {
        color: black;
        background-color: #fff;

    }

/*Forum Index-------------------------------------------------- */
#forumIndexTable td {
    background-color: rgba(255,255,255,0.9);
    min-width:200px;
    border-right: 1px solid #555;
}
#forumIndexTable td a{
    text-decoration:none;
    font-family:'Roboto';
    font-size:1.4em;
    color:black;
    
}

#forumIndexTable tr:hover{
    background-color:rgba(0,116,238,1);
}

.forumData{
    display:inline-block;
}

.forumTitle{
    font-family:Rockwell;
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle{
    color:#879;
    font-family:'Roboto Mono';
    font-size:0.8em;
}

.forumDescription{
    color:#555;
    font-family:'Roboto';
}

.forumLogo{
    border-radius:3px;
    float:left;
    margin-right:20px;
    height:40px;
    width:40px;
    background-color:#ddd;
    border:1px solid #555;
    background-repeat:no-repeat;
    background-size:100%;
}






/*Post*/
.postAuthorImage{
    height:110px;
    width:80px;
    background-size:100%;
}

.postAuthorContainer{
    padding:12px;
    width:190px;
    color:#444;
}

.postIndexTitle{
    font-size:1.4em;

}

.postContentContainer{
    color:#222;
    padding:22px;
    border-left:1px solid #ddd;
}

.postAuthorRating{
    font-size:0.9em;
    color:#159;
    font-family:'Roboto Mono';
}

#postIndexContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2), 0 6px 6px rgba(0,0,0, 0.3);
}

/*Replies*/

.replyContent {
    background-color: white;
    margin-top:10px;    
    margin-bottom:10px;    
}

.replyAuthorContainer {
    padding: 12px;
    width: 190px;
    color: #444;
}


/*Forum*/

.forumPostCount{
    color:#879;
    font-family:'Roboto mono';
    font-size:0.9em;
}

.forumMemberCount {
    color: #879;
    font-family: 'Roboto mono';
    font-size: 0.9em;
}

#forumIndexContent{
    padding-bottom: 60px;
    background-color:white;
}


.noPosts{
    text-align:center;
    padding-top:30px;
    font-family: 'Roboto Mono';
}

/*Post-------------------------------------------------- */

.createPostSection{
    background-color:#fff;
    padding:24px;
}

.body-content{
    padding-left:15px;
    padding-right:15px;
}

body {
    padding: 0px 0 20px 0;
    background-color: lightgray;
    background-image: url("../images/theme/bg-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto';
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}




.replyContent{

}

/* Sticky footer styles-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;

}


/*User Profiles*/

.userProfile{
    padding:32px 0 64px 24px;
    background-color:#fff;
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating, #userActiveLabel{
    display:block;
    color:#444;
    font-family:'Roboto';
    padding-top:3px;
}

#userName{
    display:block;
    color:indianred;
    font-family:'Roboto';
    font-size:1.5em;
}
.userProfileImage{
    height:400px;
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;

}

.profileDescription span{
    font-family:'Roboto';
    font-size: 1.4em;
    color:black;
    margin-bottom:30px;
}

.profileListingImage {
    
    height: 200px;
    width: 100px;
    background-repeat:no-repeat;
    background-size:100%;
    display:block;
    position:relative;
    background-position:center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.stretch{
    width:100%;
    height:100%;
}